amqp==5.3.1
asgiref==3.8.1
asttokens==3.0.0
billiard==4.2.1
black==25.1.0
boto3==1.35.95
botocore==1.35.99
celery==5.5.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
decorator==5.2.1
Django==5.2
django-storages==1.14.6
django-taggit==6.1.0
djangorestframework==3.16.0
dnspython==2.7.0
executing==2.2.0
ipython==9.1.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jmespath==1.0.1
kombu==5.5.3
matplotlib-inline==0.1.7
mongoengine==0.29.1
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.7
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
pymongo==4.12.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==5.2.1
s3transfer==0.10.4
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13